﻿
@{
    ViewBag.Title = "Index";
}

<h2>分數代碼查詢</h2>

<form action="@Url.Action("Index")" method="post">
    請輸入分數：<input type="text" name="score" value="" /> 
    <input type="submit" name="name" value="送出" />

</form>
<br />
<br />
查詢結果<br />
分數：@ViewBag.score <br/>
代碼：@ViewBag.level