﻿@model class_project.ViewModel.BMIData

<form method="post" action="@Url.Action("Index")">
    身高 @Html.TextBoxFor(m => m.height) 公分  <br />
    體重 @Html.TextBoxFor(m => m.weight) 公斤  <br />
    <input type="submit" value="送出" />
</form>
<br />

@ViewBag.worryingMessage <br />
計算結果： @Model.BMI <br />
等級： @Model.Level
