﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>



@{
    //String[] data = {"蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
    <ol>
        @foreach (var item in ViewBag.Message)
        {
            <li>
                @item
            </li>
        }

    </ol>
}